@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans";
  font-weight: 300, 400, 500, 600, 700;
  font-size: 1rem;
  line-height: 1.5;
  color: #FFFFFF;
  background-color: #0A192F;
}

h1 {
  font-weight: 700;
}

a {
  color: rgb(30, 120, 250);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

img[alt="img"] {
  width: 80%;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

b {
  font-weight: bolder;
}
